################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/_ReSharper.Caches
/.vs/Mopas/v14
